*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body{
    height: 100%;
}


body{
    font-family: 'Montserrat', serif;
    
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ececec; */
    background: url('../assets/background_image.jpg');
    /* background-color : #e8e9a7; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.math-qna-main{
    position: relative;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.qnadiv{
    /* position: relative;
    display: flex;
    flex-direction: column; */
    /* padding: 3%; */
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    right: 10%;
    width: 40rem;
    height: 30rem;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px; */
    padding: 1%;
    width: 10%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    /* background: linear-gradient(45deg,red,teal); */
    border: 3px solid white;
    box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.3) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.floating-back-main{
    padding-top: 7.5%;
    padding-left: 15%;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    width: 100%;
    height: 100vh;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@keyframes animate{
    0%{
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-1000px) rotate(720deg);
    }
}
.circles div {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255,0.2);
    bottom: -150px;
    animation: animate 25s linear infinite;
}

.circles div:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles div:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles div:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    
}
.circles div:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles div:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles div:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles div:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles div:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles div:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    
}
.circles div:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.math-qna-main div:nth-of-type(1){
    flex-grow: 1;
}
.math-qna-main div:nth-of-type(2){
    flex-grow: 1;
}

.anim{
    position: relative;
    align-content: center;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.3) ;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    /* background-color: lightpink; */
    border-radius: 30px;
    justify-items: center;
    padding-left: 18%;
    padding-right: 17%;
    padding-top: 6%
}

.game-question-container{
    color:white;
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255,255,255, 0.5);
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.math-qna-options{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.math-qna-options span{
    color: white;
    width: 45%;
    height: 3rem;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    overflow: hidden;
}


span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.option{
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked ~ .option {
	background: linear-gradient(150deg, rgba(255, 166, 0,0.5), rgba(255, 64, 0,0.5));
}

input[type=radio] ~ .option {
    position: relative;
    top:0;
    display: flex;

    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    /* z-index: 11; */
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
}
input[type=radio]:hover ~ .option {
	background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    /* z-index: 1; */
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    text-decoration: none;
    overflow: hidden;
}

input[type=radio]:before ~ .option {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
input[type=radio]:hover:before ~ .option {
    transform: skewX(45deg) translateX(-150px);
}

.submit-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.hint-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}

.hint-button:hover{
    border-color: red;
}

.submit-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.submit-button-container button:hover{
    /* background-color: rgb(0, 255, 8); */
    border-color: greenyellow;
}


.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    width: 70%;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.hint-yt{
    top: 500px;
}

.modal-button-container{
    position: absolute;
    /* height: 2rem; */
    width: 100%;
    display: flex;
    top: 80%;
    /* align-items: center; */
    justify-content: center;
}

.modal-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .math-qna-main{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }
 
     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }
 
    .math-qna-options span{
        width: 90%;
        height: 2.5rem;
    }
    .math-qna-options span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 100%;
        /* height: 25rem; */
    }
    
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .math-qna-main{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .math-qna-options span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }